/*colors keys:
Pink: #FF5565
White: #F0F5FB
Blue: #00869B
Black: #000000
*/

/* MISC */


body{
  font-size: 16px;
  font-family: 'Helvetica Neue','Open Sans',Arial,sans-serif;
}

p{
  font-size: 18px;
}

.bluefont{
  color: #00869B;
}

.whitefont{
  color: #F0F5FB;
}

.vertical-center {
    min-height: 80%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.nogutter > [class*=col-]{
  padding-left: 0;
  padding-right: 0;
}

hr{
    max-width: 50px;
    border-color: #F0F5FB;
}

.lineWidth{
  border-width: 3px;
}

/* ----------------------------------------------------------*/
/* LANDING */

.mainTitle{
  font-size: 50px;
}

.subTitle{
  font-size: 25px;
}

button{
  background-color: #F0F5FB;
  border-radius: 28px;
  padding: 10px 20px 10px 20px;
}

#morebutton{
  color: #FF5565;
}

/* ---------------------------------------------------------------*/
/* NAV */
.active{
  color: #00869B !important;
}

/*icon for dropdown menu*/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
  background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar{
  background-color:#FF5565;
}

/*icon for dropdown menu border*/
.navbar-inverse .navbar-toggle{
  border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
  color:  #FF5565;
}

.whiteNav{
  background-color: #F0F5FB;
  border-color: #F0F5FB;
}

.transparentNav{
  margin-bottom: 0;
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-brand{
  color: none;
}
a.navbar-brand{
  color: #F0F5FB;
}

ul.nav.navbar-nav li a{
  color: #FF5565;
}

#brand{
  color: #FF5565;
}

#index{
  background: url("img/pink-laptop-majo-villalon-412447.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  background-position: 50%;
}

/* ---------------------------------------------------------------*/
/* ABOUT & SKILLS SECTION */

#aboutskills{
  /*height: 100vh;*/
}

#about{
  /*height: 50vh;*/
  padding: 100px 0;
  background-color: #FF5565;
}

#skills{
  padding: 100px 0;
  background-color: #F0F5FB;
}

#skills hr{
  border-color: #FF5565;
}

#skills ul{
  display: inline-block;
  width: 49%;
  list-style: none;
  padding: 0;
}

#skills li{
  padding: 0.5em 0;
  font-size: 18px;
}

#invisible{
  background-color: gray;
  height: 70vh;
  display: /*none*/
}

/* ---------------------------------------------------------------*/
/* PORTFOLIO SECTION */

#portfolio{
  background-color: #F0F5FB;
  /*height: 100vh;*/
}

img{
  max-width:100%;
}

/* ---------------------------------------------------------------*/
/* CONTACT SECTION */

#contact{
  padding: 100px 0;
}

#contact hr{
  border-color: #FF5565;
}

input{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

textarea{
  width: 100%;
  border: 1px solid gray;
  padding: 10px;
}

input[type=submit]{
  background-color: #FF5565
}

#contactForm input{
  margin-bottom: 5px;
}

#contact .row{
  margin-right: 0;
  margin-left: 0;
}

/* ---------------------------------------------------------------*/
/* FOOTER */

footer{
  background-color: #FF5565;
  padding: 40px 0;

}

.social{
  width: 50px;
}

.copyright{
  padding-top: 20px;
  color:  #F0F5FB;
  font-size: 12px;
}


/* ---------------------------------------------------------------*/
/* TABLETS */

@media screen and (min-width: 480px){
  /* NAV BAR */
  ul.nav.navbar-nav{
    float: right;
  }

  /* Index Section */

  .mainTitle{
    font-size: 65px;
  }

  .subTitle{
    font-size: 35px;
  }

  #index{
    background-position: 40%;
  }

  /*Skills Section */
  #skills ul{
    width: 24%;
  }
}


/* ---------------------------------------------------------------*/
/* LG Screens */

@media screen and (min-width: 768px){
  /* NAV */

  /* INDEX SECTION */
  #index{
    background-position: 50%;
  }
}
